<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">

		<title>{{ .Title }}</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<header>
			<h1>{{ .Title }}</h1>
			{{ if .Desc -}}
				<p>{{ .Desc }}</p>
			{{- end }}
		</header>

		<main>
			{{ template "repos.tmpl" .Repos }}

			<nav>
				<ul class="pager">
					{{- $page := .CurPage -}}
					{{ range (pageRefs .) }}
						<li><a {{ if (eq . $page) }}class="current"{{ end }} href="{{ pageName . }}">{{ . }}</a></li>
					{{- end }}
				</ul>
			</nav>
		</main>
	</body>
</html>
