<section id="repositories">
	<h2>repositories</h2>
	<dl>
		{{ range . }}
			<dt><a href="{{ repoLink . }}">{{ .Title }}</a> <em>{{ (.Modified.Format "Jan 2, 2006") }}</em></dt>
			<dd>{{ .Desc }}</dd>
		{{ end }}
	</dl>
</section>
