<section id="repositories">
	<h2>repositories</h2>
	<dl>
		{{ range . }}
			<dt><a href="{{ .Name }}">{{ .Name }}</a> <emph>{{ (.Modified.Format "Jan 2, 2006") }}</emph></dt>
			<dd>{{ .Desc }}</dt>
		{{ end }}
	</dl>
</section>
