:root {
	--color-white: white;
	--color-black: black;
	--color-blue: #038;
	--color-red: #800;
	--color-grey: grey;
	--color-athens-grey: #f2f4f7;
	--color-light-grey: #ccc;
	--color-yellow: #fffbdd;
}

body {
	color: var(--color-black);
	background-color: var(--color-white);

	font-family: monospace;
	font-size: medium;
}

h1, h2, h3, h4, h5, h6, h7, h8, h9 {
	padding: 0px;
	margin: 0px 0px 5px 0px;
}
p {
	padding: 0px;
	margin: 5px 0px 5px 0px;
}

header, main section {
	padding: 10px;
}
pre {
	padding: 0px;
	margin: 0px;
}
header p {
	margin: 5px 0px 5px 0px;
}
header p.clone {
	color: var(--color-grey);
}
header code {
	text-decoration: underline;
}
section, header {
	padding: 10px 10px 10px 10px;
}

header, main section:not(:last-of-type) {
	border-bottom: 3px solid var(--color-light-grey);
}

{{ template "commits.tmpl" }}
{{ template "tree.tmpl" }}
{{ template "breadcrumb.tmpl" }}
{{ template "readme.tmpl" }}
{{ template "blob.tmpl" }}
{{ template "index.tmpl" }}
