pre.blob {
	overflow: auto;
}

pre.blob a {
	color: var(--color-grey);
	padding-right: 1ch;

	{{/* Ensure background is not overwritten on :target */}}
	background-color: var(--color-white) !important;
}

pre.blob a:hover {
	color: var(--color-red);
	text-decoration: none;
}

code:target {
	display: inline-block;
	width: 100%;
	background-color: var(--color-yellow);
}
