nav.breadcrumb, nav.breadcrumb ul, nav.breadcrumb li, nav.breadcrumb h2 {
	display: inline-block;
}

nav.breadcrumb ul {
	margin: 0px;
	padding: 0px;
	list-style: none
}

nav.breadcrumb ul li:not(:last-child):after  {
	color: var(--color-light-grey);
	padding: 8px;
	content: "/";
}
