{{/* Display TDs below each other on small devices */}}
@media (max-width: 700px) {
	table td { display: table; }
	table tr {
		display: block;
		margin: 10px 0px 10px 0px;
	}
}

table {
	text-align: left;
}

table td {
	padding: 0.15em 0.5em;
}

table.commits td.date {
	font-style: italic;
	color: var(--color-grey);
}

table.commits td.description {
	min-width: 32em;
}

table.commits td.author {
	color: var(--color-grey);
}
