{{/* Display TDs below each other on small devices */}}
@media (max-width: 700px) {
	table td { display: table; }
	table tr {
		display: block;
		margin: 10px 0px 10px 0px;
	}
}

table {
	text-align: left;
}

table td {
	padding: 0.15em 0.5em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	display: block;
	max-width: 10em;
}

table.commits td.date {
	font-style: italic;
	color: var(--color-grey);
}

table.commits td.author {
	color: var(--color-grey);
}
