#readme {
	max-width: 50em;
	line-height: 1.5;
}

@media (max-width: 50em) {
	{{/* README pre should only overflow on smaller devices */}}
	#readme pre { overflow: auto; }

	{{/* Resize images on smaller devices */}}
	#readme img {
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
	}
}

#readme pre {
	margin: 1em 0em 1em 0em;
}

#readme pre code {
	width: auto;
	min-width: 100%;
	padding: 1em;
	box-sizing: border-box;
}

#readme code {
	display: inline-block;
	padding: .2em .4em;
	line-height: normal;
	border-radius: 5px;
	background: var(--color-athens-grey);
}

#readme pre.raw {
	padding: 0px;
	margin: 0px;
}

#readme p {
	padding: 5px 0px 5px 0px;
}

#readme a {
	color: var(--color-blue);
}
