table {
	text-align: left;
}

table td {
	padding: 0.15em 0.5em;
}

table.commits td.date {
	font-style: italic;
	color: var(--color-grey);
}

table.commits td.description {
	min-width: 32em;
}

table.commits td.author {
	color: var(--color-grey);
}
