#readme {
	max-width: 50em;
}

@media (max-width: 50em) {
	{{/* README pre should only overflow on smaller devices */}}
	#readme pre { overflow: auto; }

	{{/* Resize images on smaller devices */}}
	#readme img {
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
	}
}

#readme pre {
	padding: 5px;
	margin: 5px 0px 5px 0px;
}

#readme pre.raw {
	padding: 0px;
	margin: 0px;
}

#readme p {
	padding: 5px 0px 5px 0px;
}

#readme a {
	color: var(--color-blue);
}
