<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Some Repository</title>
		<style>
			{{ template "style.css" }}
		</style>
	</head>
	<body>
		<header>
			<h1>Some repository</h1>
			<pre>git clone git://git.8pit.net/foobar.git</pre> <!-- TODO: add link -->

			<section class="branches">
				<h2>Branches:</h2>
				<nav>
					<a href="">master</a>
					<a href="" id="current">next</a>
					<a href="">feature/foobar</a>
					<a href="">feature/barfoo</a>
				</nav>
			</section>
		</header>

		<main>
			{{ template "commits.tmpl" }}

			{{ template "tree.tmpl" }}

			{{ template "readme.tmpl" }}
		</main>
	</body>
</html>
