<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{{ .Title }}</title>
		<style>
			{{ template "style.css" }}
		</style>
	</head>
	<body>
		<header>
			<h1>{{ .Title }}</h1>
			<pre>git clone {{ .URL }}/{{ .Title }}.git</pre>
		</header>

		<main>
			{{- $commits := (.Commits) -}}
			{{ if $commits }}
				{{ template "commits.tmpl" $commits }}
			{{ end }}

			{{ if .CurrentFile.IsDir }}
				{{ template "tree.tmpl" . }}
			{{ else }}
				{{ template "blob.tmpl" . }}
			{{ end }}

			{{- $readme := (.Readme) -}}
			{{ if $readme }}
				{{ template "readme.tmpl" $readme }}
			{{ end }}
		</main>
	</body>
</html>
