<!DOCTYPE html>
<html lang="en">
	{{- $base := (relIndex .CurrentFile) -}}
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">

		{{ if (isIndexPage .) }}
			<title>{{ .Title }}</title>
		{{ else }}
			<title>{{ .Title }} - {{ .CurrentFile.Name }}</title>
		{{ end }}
		<link rel="stylesheet" href="{{ $base }}style.css">
	</head>
	<body>
		<header>
			<h1><a href="{{ $base }}index.html">{{ .Title }}</a></h1>
			{{ if .Description -}}
				<p>{{ .Description }}</p>
			{{- end }}
			{{ if .URL -}}
				<pre>git clone <code>{{ .URL }}</code></pre>
			{{- end }}
		</header>

		<main>
			{{ if (isIndexPage .) }}
				{{ template "commits.tmpl" . }}
			{{ end }}

			{{ if .CurrentFile.IsDir }}
				{{ template "tree.tmpl" . }}
			{{ else }}
				{{ template "blob.tmpl" . }}
			{{ end }}

			{{ if .CurrentFile.IsDir }}
				{{- $readme := (renderReadme .) -}}
				{{ if $readme }}
					{{ template "readme.tmpl" $readme }}
				{{ end }}
			{{ end }}
		</main>
	</body>
</html>
