<section id="blob">
	{{ template "breadcrumb.tmpl" .CurrentFile }}

	<pre class="blob">
{{- if .CurrentFile.IsSubmodule -}}
	{{- $module := (.Submodule .CurrentFile) -}}
	{{ $module.Url }} @ {{ $module.IndexId }}
{{- else -}}
	{{- $blob := .Blob (.CurrentFile) -}}

	{{- $lines := (getLines $blob) -}}
	{{- range $i, $line := $lines }}
<a id="L{{ $i }}" href="#L{{ $i }}">{{ padNumber (len $lines) $i }}{{ $i }}</a>{{ . }}
	{{- end }}
{{- end -}}
	</pre>
</section>
