<section id="blob">
	{{ template "breadcrumb.tmpl" .CurrentFile }}

	<pre class="blob">
	{{- $blob := "" -}}
	{{- if .CurrentFile.IsSubmodule -}}
		{{ $blob = (.Submodule .CurrentFile) }}
	{{- else -}}
		{{ $blob = .Blob (.CurrentFile) }}
	{{- end -}}

	{{- $lines := (getLines $blob) -}}
	{{- range $i, $line := $lines }}
{{- $i = increment $i }}
<a id="L{{ $i }}" href="#L{{ $i }}">{{ padNumber (len $lines) $i }}{{ $i }}</a>{{ . }}
	{{- end }}
	</pre>
</section>
