<section id="blob">
	{{ template "breadcrumb.tmpl" .CurrentFile }}

	{{- $blob := .GetBlob (.CurrentFile.Path) -}}
	<pre class="blob">
{{- range $i, $line := (getLines $blob) }}
<a id="L{{ $i }}" href="#L{{ $i }}">{{ $i }}</a>{{ . }}
{{- end }}
	</pre>
</section>
