<nav>
	<h2>
		{{- if (eq .Path "") -}}
			tree
		{{- else -}}
			<ul>
				{{- $elems := .PathElements -}}
				{{- $amount := (len .PathElements) -}}

				<li><a href="{{ (getRelPath $amount) }}/index.html">[HEAD]</a></li>
				{{- range $i, $e := .PathElements -}}
					{{- $amount = (decrement $amount) -}}
					<li><a href="{{ (getRelPath $amount) }}/{{ $e }}.html">{{ $e }}</a></li>
				{{- end -}}
			</ul>
		{{- end -}}
	</h2>
</nav>
