<section id="commits">
	<h2>commits</h2>
	<table class="commits">
		<tbody>
			{{ range .Commits }}
				<tr>
					<td class="date">{{ .Author.When.Format "2006-02-01"}}</td>
					<td class="description">{{ .Summary }}</td>
					<td class="author">{{ .Author.Name }}</td>
				</tr>
			{{ end }}
		</tbody>
	</table>

	<p>Clone the repository to access all {{ .Total }} commits.</p>
</section>
