<section id="commits">
	<h2>commits</h2>
	<table class="commits">
		<tbody>
			{{ range . }}
				<tr>
					<td class="date">{{ .Date.Format "2006-02-01" }}</td>
					<td class="description">{{ .Desc }}</td>
					<td class="author">{{ .Author }}</td>
				</tr>
			{{ end }}
		</tbody>
	</table>

	<p>Clone the repository for the full commit log</p>
</section>
