<section id="commits">
	<h2>commits</h2>
	<table class="commits">
		<tbody>
			<tr>
				<td class="date">2020-05-05</td>
				<td class="description">handleInput: Use Send() instead of SendRaw()</td>
				<td class="author">Sören Tempel</td>
			</tr>
			<tr>
				<td class="date">2020-05-10</td>
				<td class="description">handleInput: Only set event source for PRIVMSG and NOTICE</td>
				<td class="author">Sören Tempel</td>
			</tr>
		</tbody>
	</table>

	<p>Clone the repository for the full commit log</p>
</section>
