{{ $black := "black" }}
{{ $blue := "#038" }}
{{ $red := "#800" }}
{{ $grey := "grey" }}
{{ $lightGrey := "#ccc" }}

{{/**
   * General rules
   **/}}

body {
	color: {{ $black }};
	font-family: monospace;
}

h1, h2, h3, h4, h5, h6, h7, h8, h9 {
	padding: 0px;
	margin: 0px 0px 5px 0px;
}
p {
	padding: 0px;
	margin: 5px 0px 5px 0px;
}

header, main section {
	padding: 10px;
}
header pre {
	color: {{ $grey }};

	padding: 0px;
	margin: 0px;
}
section, header {
	padding: 10px 10px 10px 10px;
}
section pre {
	padding: 0px;
	margin: 0px;

	tab-size: 4;
}

header {
	border-bottom: 3px solid {{ $lightGrey }};
}
main section:not(:last-child) {
	border-bottom: 3px solid {{ $lightGrey }};
}

{{/**
   * Commit table
   **/}}

table {
	text-align: left;
}
table td {
	padding: 0.15em 0.5em;
}
table.commits td.date {
	font-style: italic;
	color: {{ $grey }};
}
table.commits td.description {
	min-width: 32em;
}
table.commits td.author {
	color: {{ $grey }};
}

{{/**
   * Tree view
   **/}}

ul.tree {
	list-style-type: none;
	padding: 0px;
	margin: 0px 0px 5px 0px;
}

a {
	color: {{ $black }};
	text-decoration: none;
}
a.directory {
	color: {{ $blue }};
}
a:hover {
	color: {{ $red }};
	text-decoration: underline;
}

{{/**
   * Breadcrumbs
   **/}}

nav, nav ul, nav li, nav h2 {
	display: inline-block;
}
nav ul {
	margin: 0px;
	padding: 0px;
	list-style: none
}
nav ul li:not(:last-child):after  {
	color: {{ $lightGrey }};
	padding: 8px;
	content: "/";
}

{{/**
   * README
   **/}}

#readme {
	max-width: 50em;
}
#readme pre {
	padding: 5px;
}
#readme p {
	padding: 5px 0px 5px 0px;
}
#readme a {
	color: {{ $blue }};
}

{{/**
   * <pre> with line numbers
   **/}}

pre.blob a {
	color: {{ $grey }};
	padding-right: 15px;
}

pre.blob a:hover {
	color: {{ $red }};
	text-decoration: none;
}
