body {
	color: black;
	font-family: monospace;
}

h1, h2, h3, h4, h5, h6, h7, h8, h9 {
	padding: 0px;
	margin: 0px;

	margin-bottom: 5px;
}
p {
	padding: 0px;
	margin: 5px 0px 5px 0px;
}

table {
	text-align: left;
}
table tr:hover {
	background-color: #e3e3e3;
}
table td {
	padding: 0.15em 0.5em;
}
table.commits td.date {
	font-style: italic;
	color: gray;
}
table.commits td.description {
	min-width: 32em;
}
table.commits td.author {
	color: gray;
}

ul.tree {
	list-style-type: none;
	padding: 0px 5px 0px 5px;
}
li.tree {
	padding: 1px 0px 1px 0px;
}

a {
	color: black;
	text-decoration: none;
}
a.directory {
	color: #038;
}
a:hover {
	color: #800;
	text-decoration: underline;
}

nav, nav ul, nav li, nav h2 {
	display: inline-block;
}
nav ul {
	margin: 0px;
	padding: 0px;
	list-style: none
}
nav ul li:not(:last-child):after  {
	color: #ccc;
	padding: 8px;
	content: "/";
}

header, main section {
	padding: 10px;
}
header pre {
	color: #777;

	padding: 0px;
	margin: 0px;
}
section, header {
	padding: 10px 10px 10px 10px;
}

header {
	border-bottom: 3px solid #ccc;
}
main section:not(:last-child) {
	border-bottom: 3px solid #ccc;
}
