{{ define "type" }}
	{{- if (.IsDir) -}}
		directory
	{{- else -}}
		file
	{{- end -}}
{{ end }}

{{ define "suffix" }}
	{{- if (.IsDir) -}}/{{- end -}}
{{ end }}

<section id="tree">
	<h2>tree</h2>

	<ul>
		{{ range . }}
			<li>
				<a class="{{ template "type" . }}" href="">
					{{ .Name }}{{ template "suffix" . }}
				</a>
			</li>
		{{ end }}
	</ul>
</section>
