<section id="tree">
	<h2>tree</h2>

	<ul>
		<li><a class="directory" href="">Foo/</a></li>
		<li><a class="directory" href="">Bar/</a></li>
		<li><a class="file" href="">.gitignore</a></li>
		<li><a class="file" href="">main.c</a></li>
		<li><a class="file" href="">README</a></li>
	</ul>
</section>
