<!DOCTYPE html>
<html lang="en">
	{{- $base := (relIndex .CurrentFile) -}}
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		{{ if (isIndexPage .) }}
			<title>{{ .Title }}{{ if .Description }} - {{ .Description }}{{ end }}</title>
		{{ else }}
			<title>{{ .Title }} - {{ .CurrentFile.Name }}</title>
		{{ end }}

		<link rel="stylesheet" href="{{ $base }}style.css">
		<script>
			function highlight() {
				Array.from(document.getElementsByClassName('highlighted'))
					.forEach((e) => { e.classList.remove('highlighted') })

				const pattern = /^#L([0-9]+)-L?([0-9]+)$/
				const matches = window.location.hash.match(pattern)
				if (!matches || matches.length != 3)
					return

				const start = parseInt(matches[1], 10)
				const end   = parseInt(matches[2], 10)
				if (start > end || start <= 0)
					return

				var line
				for (let i = end; i >= start; i--) {
					line = document.getElementById('L' + i)
					if (line == null)
						return
					line.classList.add('highlighted')
				}
				line.scrollIntoView();
			}
			window.addEventListener('hashchange', highlight)
			window.addEventListener('DOMContentLoaded', (event) => highlight())
		</script>
	</head>
	<body>
		<header>
			<h1><a href="{{ $base }}index.html">{{ .Title }}</a></h1>
			{{ if .Description -}}
				<p>{{ .Description }}</p>
			{{- end }}
			{{ if .URL -}}
				<p class="clone">git clone <code>{{ .URL }}</code></p>
			{{- end }}
		</header>

		<main>
			{{ if (isIndexPage .) }}
				{{ template "commits.tmpl" (.Commits) }}
			{{ end }}

			{{ if .CurrentFile.IsDir }}
				{{ template "tree.tmpl" . }}
			{{ else }}
				{{ template "blob.tmpl" . }}
			{{ end }}

			{{ if .CurrentFile.IsDir }}
				{{- $readme := (renderReadme .) -}}
				{{ if $readme }}
					{{ template "readme.tmpl" $readme }}
				{{ end }}
			{{ end }}
		</main>
	</body>
</html>
