<section id="blob">
	{{ template "breadcrumb.tmpl" .CurrentFile }}

	<pre class="blob">
	{{- $blob := "" -}}
	{{- if .CurrentFile.IsSubmodule -}}
		{{ $blob = (.Submodule .CurrentFile) }}
	{{- else -}}
		{{ $blob = .Blob (.CurrentFile) }}
	{{- end -}}

	{{- if (isBinary $blob) -}}
		This is a binary file, clone the repository to access it.
	{{- else -}}
		{{- $lines := (getLines $blob) -}}
		{{- range $i, $line := $lines }}
{{- $i = increment $i }}
<code id="L{{ $i }}"><a href="#L{{ $i }}">{{ padNumber (len $lines) $i }}{{ $i }}</a>{{ . }}</code>
		{{- end }}
	{{- end -}}
	</pre>
</section>
