{{ define "type" }}
	{{- if .IsDir -}}
		directory
	{{- else -}}
		file
	{{- end -}}
{{ end }}

{{ define "suffix" }}
	{{- if .IsDir -}}/{{- end -}}
{{ end }}

<section id="tree">
	{{ template "breadcrumb.tmpl" .CurrentFile }}

	<ul class="tree">
		{{ range .Files }}
			<li>
				<a class="{{ template "type" . }}" href="{{ .Path }}.html">
					{{ .Name }}{{ template "suffix" . }}
				</a>
			</li>
		{{ end }}
	</ul>
</section>
